# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

config/env/development.lxh.js
config/pm2/lxh.json

# Dependency directories
node_modules
# Optional npm cache directory
.npm
.idea


.DS_Store
.vscode
dist/
